@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <h1>@ViewData["Title"]</h1> *@
<section>
    <h1>Who are We?</h1>
    <p>
        Spooky Wisconsin is the perfect stop for all your haunted needs. We have plenty of haunted locations from every corner of Wisconsin. We also have a newsletter that explains events hosted at these locations, offers deals on tours, and advertises new merch in our online store.
    </p>
</section>

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="~/images/abbyhead.png" alt="Photo of Abigail Thompson">
        <div class="card-body">
            <h5 class="card-title">Abigail Thompson</h5>
            <p class="card-text">
                Software Developer. I've taken my passion of horror video games to use in developing a website that anyone can enjoy and learn more about haunted locations in Wisconsin. Highly suggest the Old Baraboo Inn tour!
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Favorite Site: Old Baraboo Inn</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/cadinhead.png" alt="Photo of Cadin Marohl">
        <div class="card-body">
            <h5 class="card-title">Cadin Marohl</h5>
            <p class="card-text">
             Web Developer and Designer. I love working for Spooky Wisconsin and being able to share experiences about paranormal places in Wisconsin with locals and other enthusiasts.    
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Favorite Site: Al Ringling Mansion</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/colbyhead.png" alt="Photo of Colby Witthuhn">
        <div class="card-body">
            <h5 class="card-title">Colby Witthuhn</h5>
            <p class="card-text">
                Software Developer by day, Ghost Haunting Investigator by night. I love to do research about new areas in Wisconsin for the paranormal with hopes of exploring them to experience it myself.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Favorite Site: Dartford Cemetery</small>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="~/images/crystalhead.png" alt="Photo of Crystal Perez">
        <div class="card-body">
            <h5 class="card-title">Crystal Perez</h5>
            <p class="card-text">
                Wisconsin Native and a lover of all things spooky. Web Developer & Design Specialist with a passion for Photography and Videography.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Favorite Site: Riverside Cemetery</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/kathyhead.png" alt="Photo of Kathy Xiong">
        <div class="card-body">
            <h5 class="card-title">Kathy Xiong</h5>
            <p class="card-text">
                A fan of Horror games, from ghost hunting to eliminating zombies. A Wisconsinite born and raised Software developer who enjoys video games and technology.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Favorite Site: Riverside Theater</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/thayhead.png" alt="Photo of Thay Lee">
        <div class="card-body">
            <h5 class="card-title">Thay Lee</h5>
            <p class="card-text">
                Enjoyed watching Ghostbusters and Scooby Doo as a kid. Being a Software Developer for Spooky Wisconsin has allowed me to show my love of those characters and let everyone being ghostbuster themselves.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Favorite Site: Grand Opera</small>
        </div>
    </div>
</div>