@model SDG.SpookyWisconsin.WebUI.ViewModels.HauntedEventVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HauntedEvent.LocationName" class="control-label"></label>
                <select asp-for="HauntedEvent.HauntedLocationId" class="form-control"
                        asp-items="@(new SelectList(Model.HauntedLocations, "Id", "Name"))"></select>
                <span asp-validation-for="HauntedEvent.HauntedLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="HauntedEvent.ParticipantName" class="control-label"></label>
            <select asp-for="HauntedEvent.ParticipantId" class="form-control"
            asp-items="@(new SelectList(Model.Participants, "Id", "Name"))"></select>
            <span asp-validation-for="HauntedEvent.ParticipantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HauntedEvent.Name" class="control-label"></label>
                <input asp-for="HauntedEvent.Name" class="form-control" />
                <span asp-validation-for="HauntedEvent.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HauntedEvent.Date" class="control-label"></label>
                <input asp-for="HauntedEvent.Date" class="form-control" />
                <span asp-validation-for="HauntedEvent.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HauntedEvent.Description" class="control-label"></label>
                <input asp-for="HauntedEvent.Description" class="form-control" />
                <span asp-validation-for="HauntedEvent.Description" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="HauntedEvent.ImagePath" class="control-label"></label>
                <input asp-for="HauntedEvent.ImagePath" class="form-control" />
                <input type="file" name="File" id="File" accept="image/" onchange="loadFile(event)" />
                <span asp-validation-for="HauntedEvent.ImagePath" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
