@model SDG.SpookyWisconsin.BL.Models.HauntedEvent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" class="form-control" />
            <input hidden asp-for="HauntedLocationId" class="form-control" />
           @*  <div class="form-group">
                <label asp-for="HauntedEvent.HauntedLocationName" class="control-label"></label>
                <select asp-for="HauntedEvent.HauntedLocationId" class="form-control"
                        asp-items="@(new SelectList(Model.HauntedLocation, "Id", "Name"))"></select>
                <span asp-validation-for="HauntedEvent.HauntedLocationId" class="text-danger"></span>
            </div> *@
            <input hidden asp-for="ParticipantId" class="form-control" />
            @*  <div class="form-group">
            <label asp-for="HauntedEvent.ParticipantDescription" class="control-label"></label>
            <select asp-for="Movie.FormatId" class="form-control"
            asp-items="@(new SelectList(Model.Formats, "Id", "Description"))"></select>
            <span asp-validation-for="HauntedEvent.ParticipantId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="HauntedEvent.ImagePath" class="control-label"></label>
                <input asp-for="HauntedEvent.ImagePath" class="form-control" />
                <input type="file" name="File" id="File" accept="image/" onchange="loadFile(event)" />
                <span asp-validation-for="HauntedEvent.ImagePath" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
