@model IEnumerable<SDG.SpookyWisconsin.BL.Models.Tier>

@{
    ViewData["Title"] = "Tier List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Spooky Tiers!</h1>
    <p class="lead">Start your spooky tours off on the right foot with our exclusive newsletter! We also offer other benefits for those who want to support the website more.</p>
</div>
<div class="container tierList">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow tiers">
            <div class="card-header">
                <h4>Bronze</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    $7.99
                    <small class="text-muted">/ mo</small>
                </h1>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Monthly Newsletter</li>
                <li>Tour Access</li>
                <li>Exclusive Store Items</li>
                <li><br /></li>
                <li><br /></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up Now!</button>
        </div>
        <div class="card mb-4 box-shadow tiers">
            <div class="card-header">
                <h4>Silver</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    $9.99
                    <small class="text-muted">/ mo</small>
                </h1>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Monthly Newsletter</li>
                <li>Tour Access</li>
                <li>Exclusive Store Items + Colors</li>
                <li><br /></li>
                <li><br /></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up Now!</button>
        </div>
        <div class="card mb-4 box-shadow tiers">
            <div class="card-header">
                <h4>Gold</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    $15.99
                    <small class="text-muted">/ mo</small>
                </h1>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Monthly Newsletter</li>
                <li>Tour Access</li>
                <li>Exclusive Store Items + more Colors</li>
                <li>Special Events & Discounts</li>
                <li>Monthly Shop Discounts</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up Now!</button>
        </div>
    </div>
</div>