@{
    ViewData["Title"] = "Ambassador Hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <img class="locimagemain" src="~/images/locations/ambassadorhotel1.jpg" alt="placeholder image">
</div>
<div>
    <h2>Ambassador Hotel</h2>
    <h4>Milwaukee - Milwaukee County</h4>
    <img class="locimageside" src="~/images/locations/ambassadorhotel2.jpg" alt="placeholder image">
    <p>The Ambassador Hotel was built in 1928 and much of the history of the hotel has been passed down by word of mouth. During the hotel's run many entertainers have stayed in the hotel such as The Beatles and Walter Busterkeys. The main haunted aspect to the hotel is room 507, in which Jeffrey Dahmer killed his first victim, Steven Tuomi. It is said that when Dahmer woke up to find Tuomi dead, Tuomi’s body was in a strange position and some report that their partner has woken up in such a position while staying at the hotel. There are also many reports surrounding room 507 itself such as claims of feeling a heaviness in the room that they cannot explain and being awoken in the middle of the night with no explanation.</p>
</div>
