@{
    ViewData["Title"] = "Black River Falls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <img class="locimagemain" src="~/images/locations/blackriverfalls1.png" alt="Photo of Black River Falls.">
</div>
<div>
    <h2>City of Black River Falls</h2>
    <h4>Black River Falls - Jackson County</h4>
    <img class="locimageside" src="~/images/locations/blackriverfalls2.png" alt="Image of a family during the harsh times in Black River Falls.">
    <p>A small town located in Wisconsin called Black River Falls is so cursed that it inspired the creation of the book “Wisconsin Death Trip”. This town was known for its terrifying stories of ghosts and witchcraft, residents were stuck in a worthless land that soon made many lose their minds. Reports of shootings, suicides, and strange behavior increased as time passed. A woman who was concerned about a rash on her back went outside and doused herself in gasoline, lighting herself in flames right after, a divorced man shoots his wife and children dead in the town square, a farmer chops off the heads of his chickens claiming the devil overtook his farm, the list goes on and on of the bizarre behavior that infects the town. Although those tales could just be mere campfire stories, who would know for sure if the towns cursed unless you see it with your own eyes?</p>
</div>
