@{
    ViewData["Title"] = "Clark County Insane Asylum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <img class="locimagemain" src="~/images/locations/clarkcounty2.png" alt="Old photo of the Clark County Insane Asylum.">
</div>
<div>
    <h2>Clark County Insane Asylum</h2>
    <h4>Owen - Clark County</h4>
    <img class="locimageside" src="~/images/locations/clarkcounty1.png" alt="Old image of inside the Clark County Insane Asylum.">
    <p>Located in Owen, Wisconsin, an asylum built in 1922 held 316 patients claiming to provide humane treatments but in reality, it was far from it. From electrotherapy to ice water submersions, it's no wonder people have reported hearing voices and seeing apparitions. A group of ghost hunters even captured audio from their recording of whispers and muttering pleading for help, it is also believed that a former asylum worker committed suicide on the premises. </p>
</div>
