@{
    ViewData["Title"] = "Summerwind Mansion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <img class="locimagemain" src="~/images/locations/summerwindmansion1.jpg" alt="placeholder image">
</div>
<div>
    <h2>Summerwind Mansion</h2>
    <h4>West Bay Lake - Vilas County</h4>
    <img class="locimageside" src="~/images/locations/summerwindmansion2.jpg" alt="placeholder image">
    <p>Summerwind Mansion, also known as Lamont Mansion, was built in the early 1900s. One of the first owners of the property, Robert Patterson Lamont, had hopes of renovating the estate and making it into a place their family could enjoy. These renovations are said to have woken the spirits on the property, and the family reported things such as shadows, mysterious sounds, and seeing ghosts. This caused the family to move out of the mansion and never return. Many years later the Hinshaw family purchased the estate with hopes of making it their own. The family only spent six months in the mansion, and during that time they reported a slew of strange things such as hearing disembodied voices, finding a corpse behind a hidden wall, and feeling cold gusts of wind from inside the estate. After the family moved out, a storm passed and lightning struck the mansion, burning it to the ground. </p>
</div>
