@{
    ViewData["Title"] = "Witch Road";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <img class="locimagemain" src="~/images/locations/witchroad2.png" alt="Photo of Witch Road.">
</div>
<div>
    <h2>Witch Road</h2>
    <h4>Ripon - Fond Du Lac County</h4>
    <img class="locimageside" src="~/images/locations/witchroad1.png" alt="Photo of Witch Road from the side of the road.">
    <p>Callen road, also known as Witch Road by locals has earned its name from the legends of an evil old witch who lived in an old house in the woods next to the road. Since her death she has been haunting the witch road by strange lights, chilling atmospheres, and creating apparitions.  It is said that you can even see the witches face in the woods, some have claimed to see a young little girl in the trees as well, trying to escape from the clutches of the witch... </p>
</div>
