/*Default CSS*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Added CSS*/
.bg-dark {
    background: linear-gradient(90deg, rgba(23,19,18,255) 35%, rgba(128, 0, 0, 1) /*55%*/);
}/*This class is for the background colors in the header*/

.header {
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: rgba(136, 8, 8,1);
}

nav{
    padding-left: 275px;
}

nav li{
    padding-left: 18px;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color: red;
}

/*Dropdown Menu*/
.dropdown {
    position: relative;
}

.dropdown-options{
    display: none;
    padding-left:5px;
    height: 110px;
    width: 210px;
    font-size: 12px;
    position: absolute;
    z-index: 3;
    /*overflow: auto;*/
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options a:hover{
    background-color: red;
}

.main {
    margin: 0px;
    padding: 0px;
    border: 1px solid;
}

.slideshow{
    height:600px;
    width:fit-content;
    padding-left: 100px;
}

.table tr:nth-child(even) {
    background-color: rgba(74, 4, 4, .25);
}


.card-img {
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} /*This class is for the images on the merch page*/
  /*Original Image sizes are 600 by 600 px*/

.imagedefault {
    width: 100px;
    height: 150px;
}

.imagemed {
    width: 200px;
    height: 150px;
}

.imagebig {
    width: 475px;
    height: 700px;
}
.locimagemain{
    width:700px;
    height: 500px;
}

.locimageside{
    float: right;
}

#imagebig{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
} /*This ID is for a window that will let users click on pictures to see them better*/



